---
import ControlButtons from "@/components/ControlButtons";
import Lightbox from "@/components/Lightbox";
import Logo from "@/components/Logo.astro";
import Slide from "@/components/Slide";
import data from "@/data.json";
import PageLayout from "@/layouts/PageLayout.astro";

const { index } = Astro.params;
const idx = index ? Number.parseInt(index) : 0;

if (!Number.isSafeInteger(idx) || idx < 0 || idx >= data.length) {
  return Astro.redirect("/404", 404);
}

const { name, year, description, source, artist, images } = data[idx];
---

<PageLayout title={name} description={`${name} by ${artist}, made in ${year}.`}>
  <header>
    <div class="flex items-center justify-between p-6 md:px-10 md:py-7 xl:p-10">
      <Logo className="h-8 xl:h-12" />
      <a href="/" class="link-2 md:link-1 uppercase text-dark-gray hover:text-black focus:text-black">Stop Slideshow</a>
    </div>

    <hr class="w-auto border-medium-gray xl:mx-10" />
  </header>

  <main>
    <Slide name={name} year={year} description={description} source={source} artist={artist} images={images} client:load />
    <Lightbox client:load />
  </main>

  <footer class="pt-20">
    <progress value={idx + 1} max={data.length}></progress>

    <div class="flex flex-row items-center justify-between px-6 py-4">
      <div class="flex flex-col gap-2">
        <span class="text-[0.875rem] font-bold md:text-[1.125rem]">{name}</span>
        <span class="text-[0.625rem] opacity-75 md:text-[0.875rem]">{artist.name}</span>
      </div>

      <ControlButtons idx={idx} max={data.length - 1} client:load />
    </div>
  </footer>
</PageLayout>

<style>
  progress {
    @apply h-px w-full appearance-none bg-medium-gray;
  }

  progress::-moz-progress-bar {
    @apply bg-black;
  }

  progress::-webkit-progress-value {
    @apply bg-black;
  }

  progress::-webkit-progress-bar {
    @apply bg-medium-gray;
  }
</style>
