---
import "@/base.css";
import DesktopMasonry from "@/components/DesktopMasonry.astro";
import MobileMasonry from "@/components/MobileMasonry.astro";
import TabletMasonry from "@/components/TabletMasonry.astro";

import data from "@/data.json";

const indices = new Map();
data.forEach((val, idx) => indices.set(val.name, idx));
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Classic paintings galleria" />
    <title>Galleria</title>

    <meta property="og:title" content="Galleria" />
    <meta property="og:description" content="Classic paintings galleria" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
      rel="preload"
      as="style"
    />
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet" />
  </head>

  <body class="font-libre-baskerville xl:px-10">
    <header class="flex flex-row items-center justify-between p-6 md:px-10 md:py-7 xl:px-0 xl:py-10">
      <img src="/assets/shared/logo.svg" alt="Logo" class="h-8 w-auto object-contain xl:h-12" />
      <button class="link-2 md:link-1 uppercase text-dark-gray hover:text-black focus:text-black" tabindex="1">Start Slideshow</button>
    </header>

    <hr class="w-full border-medium-gray" />

    <main class="size-full min-h-screen">
      <!-- Mobile version: 1 flex-col -->
      <MobileMasonry data={data} indices={indices} />

      <!-- Tablet version: 2 grid -->
      <TabletMasonry data={data} indices={indices} />

      <!-- Desktop version: 4 grid -->
      <DesktopMasonry data={data} indices={indices} />
    </main>
  </body>
</html>
