---
import MasonryTab from "./MasonryTab.astro";

interface Props {
  data: any[];
  indices: Map<string, number>;
}

const { data, indices } = Astro.props;
---

<div class="hidden grid-cols-2 gap-10 p-10 md:grid xl:hidden">
  <div class="flex flex-col gap-10">
    {
      data
        .filter((node) => !node.mdCol2)
        .map((frame) => (
          <MasonryTab idx={indices.get(frame.name)!} name={frame.name} artist={frame.artist.name} thumbnail={frame.images.thumbnail} />
        ))
    }
  </div>
  <div class="flex flex-col gap-10">
    {
      data
        .filter((node) => node.mdCol2)
        .map((frame) => (
          <MasonryTab idx={indices.get(frame.name)!} name={frame.name} artist={frame.artist.name} thumbnail={frame.images.thumbnail} />
        ))
    }
  </div>
</div>
